<h2 class="page-header">Movie Library</h2>

<div class="description">
	<p class="instructions">Welcome to your movie library. Search for new movies to add to your must-watch list, remove movies that you no longer want in your list or mark a movie as watched.</p>
	<p class="got-it"><a href="#">Got it!</a></p>
</div>

<!-- Search form -->

	<div class="search container">
		<form id="search-form">
			<input id="user-search" type="text" name="" placeholder="Search for a Movie">
			<button class="button" id="search">Search</button>
		</form>
	</div>

<!-- Most Watched List -->
	
	<div class="watched-list container">
		<p class="list-heading">Most Popular Movies</p>
		<ul class="most-watched-list">			
		</ul>
	</div>

<!-- Search results -->

	<div class="results container">
		<p class="message">Search for New Movies</p>
		<ul class="search-results-list">
		</ul>
	</div>

<!-- User list -->

	<div class="user-list container">
		<p class="list-heading">Your Must-Watch List</p>
		<ul class="user-movies-list">			
		</ul>
	</div>