<p class="description">Welcome to Watch This! Remember that movie your long lost half step cousin said you absolutely needed to watch...No? Then Watch This! is perfect for you.<br>
Keep track of all the movies anyone ever tells you about so you never forget again. Watch This! is your movie memory. Register today!</p>

<h2 class="page-header">Account Login</h2>

<form class="login-form" method="post" action="/users/login">
	<div class="form-group">
		<input type="text" class="form-control" name="username" placeholder="Username">
	</div>

	<div class="form-group">
		<input type="password" class="form-control" name="password" placeholder="Password">
	</div>

	<div class="form-group">
		<button type="submit" class="btn login-btn">Submit</button>
	</div>
</form>