body {
  text-align: center;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.nav-bar {
  padding: 0px;
}

.nav-bar li {
  display: inline;
}

#nav-buttons {
  text-decoration: none;
}

.container {
  border: 1px solid black;
}

.registration {
  display: none;
}

.watched-list {
  height: 750px;
  width: 22%;
  float: left;
  margin-left: 2%;
  overflow: auto;
}

.results {
  height: 750px;
  width: 50%;
  margin-left: 1%;
  float: left;
  overflow: auto;
}

.user-list {
  height: 750px;
  width: 22%;
  margin-left: 76%;
  overflow: auto;
}

.movie-poster {
  margin-top: 20px;
  height: 225px;
}