/*border box REMOVE when complete===================================*/
/*==================================================================*/

.container {
  border: 1px solid black;
}

/*Fonts=============================================================*/
/*==================================================================*/
@font-face {
  font-family: 'Chalk';
  src: url('../fonts/EraserRegular.ttf');
}

/*General Styles====================================================*/
/*==================================================================*/
html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #AE0405;
  font-family: 'Baloo Bhaina', cursive;
}

ul {
  list-style: none;
}

/*Image header======================================================*/
/*==================================================================*/

.image {
  background: #AE0405 url('../images/clapperboard.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  height: 30%;
}

.watch-this {
  margin-top: 140px;
  font-family: 'Chalk';
  color: white;
}

/*Navbar============================================================*/
/*==================================================================*/

.nav-bar {
  padding: 0px;
}

.nav-bar li {
  display: inline;
}

#nav-buttons {
  text-decoration: none;
}

/*Landing page description==========================================*/
/*==================================================================*/

.description {
  text-align: left;
  width: 100%;
}

.description p {
  margin: 0 25px;
}  

/*Form Styles=======================================================*/
/*==================================================================*/

.form-group {
  margin-top: 5px;
}

/*Buttons===========================================================*/
/*==================================================================*/



/*Watched list, User list===========================================*/
/*==================================================================*/

.watched-list {
  height: 750px;
  width: 22%;
  float: left;
  margin-left: 2%;
  overflow: auto;
}

.user-list {
  height: 750px;
  width: 22%;
  margin-left: 76%;
  overflow: auto;
}

/*Footer============================================================*/
/*==================================================================*/

.footer {

}
/*==================================================================*/
.results {
  height: 750px;
  width: 50%;
  margin-left: 1%;
  float: left;
  overflow: auto;
}



.movie-poster {
  margin-top: 20px;
  height: 225px;
}

.modal {
  display: none;  /*Hidden by default*/ 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 33%; /* Could be more or less, depending on screen size */
}

.modal-button {
  text-decoration: none;
  border: 2px solid black;
}

@media only screen and (min-width: 321px) {
  
}  

@media only screen and (min-width: 550px) {
  .description {
    text-align: center;    
  }
}

@media only screen and (min-width: 750px) {
  .description {
    margin: 0 auto;
    width: 750px;
  }
}
