body {
	text-align: center;
	box-sizing: border-box;
	background-color: #8C0000;
}

ul {
	list-style: none;
}

.container {
	border: 1px solid black;
}

.registration {
	display: none;
}

.results {
	height: 750px;
	width: 50%;
	margin-left: 25%;
	float: left;
	overflow: auto;
}

.user-list {
	height: 750px;
	width: 22%;
	margin-left: 76%;
	overflow: auto;
}

.movie-poster {
	margin-top: 20px;
	height: 225px;
}
