body {
	text-align: center;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.container {
	border: 1px solid black;
}

.results {
	height: 750px;
	width: 50%;
	margin-left: 25%;
	float: left;
}

.user-list {
	height: 750px;
	width: 22%;
	margin-left: 76%;
}

.movie-poster {
	margin-top: 20px;
}
